---
// Basic Card
// ------------
// Description: The basic card component
// Reference: https://wind-ui.com/components/cards/

import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import Card from './partials/Card.astro'
import CardBody from './partials/CardBody.astro'

type Props = {
  title?: string
  subtitle?: string
  titleSize?: 'sm' | 'base' | 'lg' | 'xl'
  image?: any
  icon?: string
  link?: string
  type?: 'image-top' | 'image-bottom'
  classes?: string
}

const { title = '', subtitle, titleSize = 'lg', image, icon, link, type, classes } = Astro.props
---

<Card classes={classes} link={link}>
  {
    image && (
      <div class="image-wrapper rounded-2xl overflow-hidden p-2">
        <Image
          src={image}
          alt={title}
          class={type === 'image-bottom' ? 'order-2 rounded-2xl object-contain' : 'rounded-2xl object-contain'}
          width={600}
          height={400}
        />
      </div>
    )
  }

  {icon && (
    <div class="px-6 pt-6">
      <Icon name={icon} class="card__icon" />
    </div>
  )}

  <CardBody>
    {title && (
      <h3 class:list={[['text-' + `${titleSize} ` + `lg:text` + `${titleSize}`]]}>{title}</h3>
    )}
    {subtitle && <p>{subtitle}</p>}
    <slot />
  </CardBody>
</Card>

<style>
  .card__icon {
    @apply inline-block size-6 shrink-0 text-primary-500;
  }

  .image-wrapper img {
    @apply w-full h-auto;
  }
</style>